<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Shop Owner Register</h1>
    <form
      action="/shop_owner/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="text" name="name" id="" />
      <input type="file" name="pic" id="" />
      <input type="submit" value="Post" />
    </form>
  </body>
</html>
